@charset "utf-8";
body,section,button,img,div{
    margin: 0; padding: 0;
}
body{
    background: #FDFFBC; overflow: hidden;
}
html,body{
    width: 100%; height: 100%;
}
section{
    width: 100%; height: 100%;
}
#wrapper{
    width: 100%; height: 100%; overflow: hidden;   
    background: url("../images/toy.png") no-repeat bottom right; 
}
#wrapper>h1{
    width: 114px; height: 41px; background: url("../images/logo1.png") no-repeat center center;
    text-indent: -9999px; position: absolute; left: 50%; top: 30px; 
    transform: translateX(-50%);
}
#wrapper>h2{
    width: 358px; height: 179px; background: url("../images/black_logo.png") no-repeat center center;
    text-indent: -9999px; position: absolute; left: 50%; top: 70px; transform: translateX(-50%);
}
#wrapper>img{
    display: block; width: 123px; height: 165px;

    position: absolute; left: 50%; top: 300px; transform: translateX(-50%);
}
#wrapper>.start{
    width: 111px; height: 27px; 
    background: url("../images/START_icon.png") no-repeat;
    text-indent: -9999px; border: 0; 
    position: absolute; left: 50%; top: 600px; transform: translateX(-50%);
}
#wrapper>.toy{
    display: block; 
}
